<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/1page.css') }}">

    <title>Document</title>
</head>

<body>
    <span class="v5_25">How it work</span><span class="v5_26 interactive-link"><a class="interactive-link"
            href="{{ url_for('index') }}">Try for free</a> </span><span class="v5_266 interactive-link"><a
            class="interactive-link" href="{{ url_for('main') }}">About</a> </span>
    <div class="v6_178 rotate-image"></div>
    <form method="POST" action="/index" onsubmit="processForm()">

        <div class="{{ form1_class }}">
            <div class="v6_180">
                <div class="v6_168"><span class="v4_148a"><textarea id="additional_info" name="additional_info"
                    rows="20" cols="63" placeholder="Additional info"></textarea> </span></div>
                <div class="v6_101"></div>
                <div class="v6_165"><span class="v4_148a"><textarea id="add_journal_name" name="add_journal_name"
                    rows="20" cols="63" placeholder="Add Journal Name"></textarea> </span></div>
                <div class="v6_166"><span class="v4_148a"><textarea id="add_authors" name="add_authors"
                    rows="20" cols="63" placeholder="Add Authors"></textarea> </span></div>
                <div class="v6_167"><span class="v4_148a"><textarea id="add_link" name="add_link"
                    rows="20" cols="63" placeholder="Add link"></textarea> </span></div>
                    
                    <span class="v4_148"><textarea id="research_text" name="research_text"
                        rows="20" cols="63" placeholder="Add your research"></textarea> </span>

                <span class="v4_149">
                </span><span class="v6_104"></span><span class="v6_106"></span><span
                    class="v4_151"></span>
                <input type="file" id="fileInput" style="display: none;">
                <div class="v4_128" onclick="selectImage()"></div>

                <div class="v6_176"><span class="v4_154">+</span><span class="v4_152">Add your picture</span></span>
                    <div class="v4_153"></div>
                </div>
                <div class="v4_179">
                   
                    <div class="v4_180">
                        <button type="submit" value="Generate Post">Continue</button>
                    </div>
                </div>
                <div class="name"></div>
            </div>
        </div>
    </form>

    <br>

    <div id="form2" class="form22" style="display: {{ display_property }}">
        <div class="image">
                
        </div>
        <div class="main_block">
            

            <div class="additional_block">
                <div>
                    <h3>Authors</h3>
                    <p>{{ add_authors }}</p>
                </div>

                <div>
                    <h3>Journal Name</h3>
                    <p>{{ add_journal_name }}</p>
                </div>

                <div>
                    <h3>link</h3>
                    <p><a href="{{ add_link }}">{{ add_link }}</a></p>
                </div>
                
            </div>
            <div>

                <h3>Twitter Post:</h3>
                <p>{{ twitter_post }}</p>

            </div>

            <div>

                <h3>LinkedIn Post:</h3>
                <p>{{ linkedin_post }}</p>

            </div>

            <div>

                <h3>Instagram Post:</h3>
                <p>{{ instagram_post }}</p>
            </div>
            <button onclick="document.location='/index'" class="v4_180">Generate a new</button>
        </div>
        
    </div>

    <script>
        function selectImage() {
            document.getElementById('fileInput').click();
        }
        function processForm() {
            var researchText = document.getElementById("research_text").value;
            researchText = researchText.replace(/\n/g, " "); // Удаляем переносы строк
            document.getElementById("research_text").value = researchText;
            

            var additional_Info = document.getElementById("additional_info").value;
            additional_Info = additional_Info.replace(/\n/g, " "); // Удаляем переносы строк
            document.getElementById("additional_info").value = additional_Info;

            var Add_journal_name = document.getElementById("add_journal_name").value;
            Add_journal_name = Add_journal_name.replace(/\n/g, " "); // Удаляем переносы строк
            document.getElementById("add_journal_name").value = Add_journal_name;

            var add_Authors = document.getElementById("add_authors").value;
            Add_authors = Add_authors.replace(/\n/g, " "); // Удаляем переносы строк
            document.getElementById("add_authors").value = Add_authors;

            var Add_link = document.getElementById("add_link").value;
            Add_link = Add_link.replace(/\n/g, " "); // Удаляем переносы строк
            document.getElementById("add_link").value = Add_link;         
        



        }

    </script>
</body>

</html>